{% extends "base_sidebar.html" %}
{% block content %}

{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row align-items-center">
                    <h4 class="m-0 font-weight-bold text-primary ">Geração de cobranças</h4>
            </div>
        </div>
        <div class="card-body">
        <div class="row gy-5">
                <div class="col-6">
                  <div class="p-3">
                       <div class="card" >
                        <div class="card-body">
                          <h5 class="card-title">Cobrança - Plano de Saúde</h5>
                                <p class="card-text">Existem ... </p>
                          <a href="{% url 'gerar_cob_planodesaude_contrato' %}" class="btn btn-primary">Individual</a>
                          <a href="{% url 'gerar_cob_planodesaude_contrato_coletiva' %}" class="btn btn-primary">Coletiva</a>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="p-3">
                       <div class="card" >
                        <div class="card-body">
                          <h5 class="card-title">Cobrança - Plano Odontológico</h5>
                                <p class="card-text">Existem ... </p>
                            <a href="{% url 'gerar_cob_planoodontologico_contrato' %}" class="btn btn-primary">Individual</a>
                            <a href="{% url 'gerar_cob_planoodontologico_contrato_coletiva' %}" class="btn btn-primary">Coletiva</a>
                        </div>
                      </div>
                  </div>
                </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}