
{% extends "base_sidebar.html" %}

{% block bootstrap5_content %}
{% load bootstrap5 %}
{% load static %}

<div class="container-fluid">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row align-items-center">
            <div class="col-md-4 ">
                <h4 class="m-0 font-weight-bold text-primary">Cobranças</h4>
                <h1 class="h3 mb-0 text-gray-800">Listagem de Cobranças</h1>
                <div class="card-body">
                    <div class="d-flex gap-2 d-md-flex">
                        <h4 class="m-0 font-weight-bold text-primary">Não há contratos cadastrados</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock bootstrap5_content %}