<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
      <i class="bi bi-person-vcard"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detalhes de {{oficio.numeracao }} / {{oficio.get_dataOficioYear}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{oficio.dataOficios}}</p>
        <p>{{oficio.assunto}}</p>
        <p>{{oficio.destinatario}}</p>
        <p>{{oficio.texto}}</p>
        <p>{{oficio.remetente}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <a href="{% url 'exportar_oficio' oficios.pk %}" type="button" class="btn btn-success" target="_blank">Imprimir <i class="bi bi-file-pdf"></i></a>
      </div>
    </div>
  </div>
</div>