{% extends "base_sidebar.html" %}
{% block content %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container-fluid">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row align-items-center">
            <div class="col-md-4 ">
                <h4 class="m-0 font-weight-bold text-primary">Oficios</h4>
            </div>
        </div>
    </div>
    {% if list_objs %}
    {% include 'search.html' with href='listar_oficios' %}

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Numeração</th>
                <th>Assunto</th>
                <th>Destinatário</th>
                <th>Data do Ofício</th>
                <th>Opções</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for oficios in list_objs %}
            <tr>
                <td>{{ oficios.numeracao }}</td>
                <td>{{ oficios.assunto }}</td>
                <td>{{ oficios.destinatario }}</td>
                <td>{{ oficios.dataOficio }}</td>


              <td>
                {% include 'oficios/button_model_oficio_detail.html' with  oficio=oficios%}
                {% include 'buttons_crud_update.html' with href_update='editar_oficio' obj=oficios.pk %}
                {% include 'buttons_crud_delete.html' with href_delete='excluir_oficio' obj=oficios.pk obj_titulo=oficios.numeracao%}
              </td>
              {% endfor %}
          </tbody>
        </table>
        {% include 'pagination.html' with href='listar_contratos_plano_saude'%}
      </div>
    </div>
    {% else %}
        <div class="card-body">
        <div class="d-flex gap-2 d-md-flex">
          <h4 class="m-0 font-weight-bold text-primary">Não há ofícios registrados ... </h4>
        </div>
      </div>
    {% endif%}
</div>
</div>

{% endblock content %}