{% extends "base_sidebar.html" %}
{% block content %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container">
 <div class="row d-flex justify-content-md-center align-items-center h-50">
            {% bootstrap_messages %}
              <form class="form-horizontal" action="" method="post" autocomplete="off" >
                  {% csrf_token %}
                 <div class="card shadow mb-3">
                     <h6 class="card-header">Ofício</h6>
                     <div class="card-body">
                         <div class="row">
                             <div class="from-group col-sm">
                                {{ form.numeracao|as_crispy_field }}
                             </div>
                              <div class="from-group col-sm">
                                {{ form.dataOficio|as_crispy_field }}
                             </div>

                         </div>
                       <div class="row">
                           <div class="from-group col-sm">
                                {{ form.assunto|as_crispy_field }}
                           </div>
                          <div class="from-group col-sm">
                            {{ form.destinatario|as_crispy_field}}
                          </div>
                       </div>
                       <div class="row">
                             <div class="from-group col-sm">
                                    {{ form.texto|as_crispy_field }}
                             </div>
                        </div>
                         <div class="row">
                             <div class="from-group col-sm">
                                    {{ form.remetente|as_crispy_field }}
                          </div>
                         </div>
                         {% include 'button_save.html' %}
                     </div>
                 </div>
              </form>
          </div>
</div>

{% endblock content %}