<!DOCTYPE html>
{% load bootstrap5 %}
  <html lang="en">
  <head>
      {% load static %}
      {% bootstrap_css %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Black Pearl</title>
 {{ form.media }}
  </head>

  <body>

      <!-- Navbar -->
      <nav class="navbar bg-primary fixed-top">
      <div class="container-fluid ">
          <span class="navbar-brand" > Black Pearl </span>
        <div class="dropdown btn-group ">

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasDarkNavbarUsuario" aria-controls="offcanvasDarkNavbarUsuario" aria-label="Toggle navigation">Nome de quem está logado</button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbarUsuario" aria-labelledby="offcanvasDarkNavbarLabelUsuario">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabelUsuario">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Meu Perfil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Configuração</a>
                      </li>
                       <li><hr class="nav-link-divider"></li>
                        <li><a class="nav-link" href="#">Sair</a></li>
                    </ul>
              </div>
            </div>


          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
          </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cadastro
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/associados/">Listagem Geral</a></li>
                        <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/associados/cadastrar/">Incluir Associado(a)</a></li>
                      <li><a class="dropdown-item" href="/associados/cadastrardependentes">Incluir dependente</a></li>
                    </ul>



                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Financeiro</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Comunicação
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">A</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </nav>

      {% block bootstrap5_content %}

      {% endblock bootstrap5_content %}
      {% bootstrap_javascript %}

    </body>
  </html>