<!DOCTYPE html>
{% load bootstrap5 %}
  <html lang="en">
  <head>
      {% load static %}
      {% bootstrap_css %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

      <title>Black Pearl</title>
 {{ form.media }}
  </head>
<body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                    <div class="flex flex-column  h-full w-full align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline text-dark">Menu</span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                            <li class="nav-item">
                                <a href="/" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i>
                                    <span class="ms-1 d-none d-sm-inline text-dark">Home</span>
                                </a>
                            </li>
                            <li  class="nav-link px-0 align-middle ">
                                    <i class="bi bi-people"></i> <span class="ms-1 d-none d-sm-inline text-dark">Associados</span>
                            </li>
                                <li class="nav-item">
                                           <a href="/associados/" class="nav-link px-4"> <i class="bi bi-card-list"></i>
                                               <span class="d-none d-sm-inline text-dark">Listagem Geral</span></a>
                                </li>
                                <li class="nav-item">
                                            <a href="/associados/cadastrar/" class="nav-link px-4">
                                              <i class="bi bi-person-plus"></i>
                                                <span class="d-none d-sm-inline text-dark">Novo Associado</span></a>
                                </li>
                                <li class="nav-item">
                                            <a href="/associados/cadastrardependentes" class="nav-link px-4">
                                                <i class="bi bi-person-add"></i>
                                                <span class="d-none d-sm-inline text-dark">Novo Dependente</span></a>
                                </li>
                            <li>
                                        <a href="/convenios/" class="nav-link px-0">
                                            <i class="bi bi-bag"></i>
                                            <span class="d-none d-sm-inline text-dark">Convênios</span></a>
                            </li>

                            <li class="nav-item">
                                        <a href="#" class="nav-link px-2">
                                            <i class="bi bi-heart-pulse"></i>
                                            <span class="d-none d-sm-inline text-dark">Plano de Saúde</span></a>
                            </li>
                            <li class="nav-item">
                                        <a href="#" class="nav-link px-2">
                                            <i class="bi bi-bookmark"></i>

                                            <span class="d-none d-sm-inline text-dark">Plano Odontológico</span>
                                        </a>
                            </li>
                                                <li>
                                                    <a href="/convenios/contratacaoodontologica/" class="nav-link px-4">
                                                      <i class="bi bi-plus-square"></i>
                                                        <span class="d-none d-sm-inline text-dark">Contratação</span></a>
                                                </li>
                                                <li>
                                                    <a href="/convenios/listarcontratacaoodontologica/" class="nav-link px-4">
                                                      <i class="bi bi-card-list"></i>
                                                        <span class="d-none d-sm-inline text-dark">Contratos</span></a>
                                                </li>


                            <li class="nav-item">
                            <li  data-bs-toggle="collapse" class="nav-link px-2 align-middle ">
                                            <i class="bi bi-credit-card"> </i><span class="d-none d-sm-inline text-dark">Cartão Volus</span></li>


                                                <li class="w-100">
                                                   <a href="/convenios/listagemcartoes" class="nav-link px-4"> <i class="bi bi-card-list"></i>
                                                       <span class="d-none d-sm-inline text-dark">Listagem Geral</span></a>
                                                </li>
                                                <li>
                                                    <a href="/convenios/cadastrarcartao/" class="nav-link px-4">
                                                      <i class="bi bi-plus-square"></i>
                                                        <span class="d-none d-sm-inline text-dark">Novo Cartão</span></a>
                                                </li>
                                                <li>
                                                    <a href="/convenios/listarFaturas" class="nav-link px-4">
                                                        <i class="bi bi-card-list"></i>
                                                        <span class="d-none d-sm-inline text-dark">Lista de Faturas</span></a>
                                                </li>
                                                <li>
                                                    <a href="/convenios/cadastrarFatura/" class="nav-link px-4">
                                                        <i class="bi bi-file-earmark-plus"></i>
                                                        <span class="d-none d-sm-inline text-dark">Incluir consumo</span></a>
                                                </li>
                            <li>
                                        <a href="#" class="nav-link px-2">
                                            <i class="bi bi-eyeglasses"></i>
                                            <span class="d-none d-sm-inline text-dark">Ótica</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle">
                                    <i class="bi bi-bank"></i> <span class="ms-1 d-none d-sm-inline text-dark">Financeiro</span> </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'usuarios/logo.svg' %}" alt="My logo"  height="32px" width="28px"  border-radius="70%" class="rounded-circle float-left">
                                <span class="d-none d-sm-inline text-dark ms-2" >{{ user.username }}</span>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">Meu perfil</a></li>
                                <li><a class="dropdown-item" href="#">Configurações</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/accounts/logout/">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col py-3 d-flex">
                      {% block bootstrap5_content %}
                      {% endblock bootstrap5_content %}
                </div>
            </div>
        </div>

        {% bootstrap_javascript %}
</body>
</html>