
 <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{obj}}">
     <i class="bi bi-trash3"></i>
 </button>

 <div class="modal" id="delete{{obj}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">
                     Dados de {{ obj_titulo }}
                 </h5>
                 <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true"></span>
                 </button>
             </div>
             <div class="modal-body">
                 <p>Deseja realmente excluir os dados ?</p>
             </div>
             <div class="modal-footer">
                 <form action="{% url href_delete obj %}" method="POST">
                     {% csrf_token %}
                     <input type="submit" class="btn btn-primary" value="Delete">
                 </form>
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
             </div>
         </div>
     </div>
 </div>