<div class="container-fluid mt-3">
  <form class="d-flex justify-content-end" role="search" action="{% url href %}" method="GET">
    <div class="input-group">
      <input name="obj" type="text" value="{{request.GET.obj}}" class="form-control me-2" placeholder="Pesquisa ...">
      <button type="submit" class="btn btn-primary btn-sm me-2">
        <i class="bi bi-search"></i> Buscar
      </button>
      {% if request.GET.obj %}
        <a class="btn btn-secondary btn-sm me-2" href="{% url href %}"><i class="bi bi-arrow-clockwise"></i>Reset</a>
      {% endif %}
    </div>
  </form>
</div>
