 <!DOCTYPE html>
{% load bootstrap5 %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% bootstrap_css %}
      <meta charset="UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Associados - Black Pearl</title>

  </head>

  <body>

      <!-- Navbar -->
      <nav class="navbar navbar-dark fixed-top"
      style="background-color: #508bfc">
      <div class="container-fluid ">
          <a class="navbar-brand" href="#">
              Black Pearl - Associados
          </a>

        <div class="dropdown btn-group ">

            <button class="navbar-toggler dropdown-toggle dropdown-toggle-split" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasDarkNavbarUsuario" aria-controls="offcanvasDarkNavbarUsuario" aria-label="Toggle navigation">Nome de quem está logado
           </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbarUsuario" aria-labelledby="offcanvasDarkNavbarLabelUsuario">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabelUsuario">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Meu Perfil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Configuração</a>
                  </li>
                   <li><hr class="nav-link-divider"></li>
                    <li><a class="nav-link" href="#">Sair</a></li>
                    </ul>

                </ul>
              </div>
            </div>
          </div>
          </div>
        </nav>


        <div class="container py-5 vh-100">
        <div class="row d-flex justify-content-center align-items-center h-50 mt-5">
             <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-primary" href="{% url 'home' %}" role="button">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                            </svg>
                            home
              </a>
              </div>

            <h6 class="from">Atualização - Associados</h6>
            {% bootstrap_messages %}
              <form class="form" action="" method="post" autocomplete="off" >
                {% csrf_token %}

                 <div class="card mb-3 mt-3">
                  <h6 class="card-header">Dados Pessoais e contatos</h6>
                     <div class="card-body">
                         {% bootstrap_form form %}
                     </div>
                 </div>

                {% buttons %}
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                        <a type="submit" class="btn btn-primary" href = "{% url 'home' %}">Cancelar</a>
                {% endbuttons %}
            </form>

        </div>
        </div>
{% bootstrap_javascript %}
    </body>
  </html>