
{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_content %}
        <div class="container py-1">
          <div class="row d-flex justify-content-md-center align-items-center h-50">

            {% bootstrap_messages %}

              <form class="form-horizontal" action=""  method="post" autocomplete="off" >
                  {% csrf_token %}
                 <div class="card mb-3 ">
                  <h6 class="card-header">
                    Dados pessoais e contatos
                  </h6>
                  <div class="card-body">

                    <div class="row">
                        <div class="form-group  col-sm">

                          {{ form.nomecompleto|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="from-group  col-sm">

                          {{ form.dataNascimento|as_crispy_field }}
                        </div>
                        <div class="from-group col-sm">

                          {{ form.sexo|as_crispy_field }}
                        </div>
                        <div class="from-group col-sm">

                          {{ form.estadocivil|as_crispy_field }}
                          </div>
                    </div>

                    <div class="row">
                          <div class="from-group col-sm">

                            {{ form.identidade|as_crispy_field }}
                          </div>
                          <div class="from-group  col-sm">

                            {{ form.orgemissor|as_crispy_field }}
                          </div>
                          <div class="from-group col-sm">

                            {{ form.cpf|as_crispy_field }}
                          </div>
                      </div>

                      <div class="row">
                            <div class="from-group col-sm">
                                {{ form.dddNumeroContato|as_crispy_field }}
                            </div>
                            <div class="from-groupcol col-sm">
                                {{ form.numeroContato|as_crispy_field }}
                            </div>
                              <div class="from-group  col-sm">
                                {{ form.email|as_crispy_field }}
                              </div>
                        </div>
                  </div>
                </div>

                  <div class="card mb-3 ">
                      <h6 class="card-header">
                        Endereço
                      </h6>
                  <div class="card-body">

                    <div class="row">
                        <div class="col-6 col-md-4">
                            <div class="form-group col-sm">
                                {{ form.cep|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group col-sm">
                                {{ form.logradouro|as_crispy_field }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="from-groupcol col-sm">
                          {{ form.estado|as_crispy_field }}
                        </div>

                        <div class="from-group col-sm">
                          {{ form.cidade|as_crispy_field }}
                          </div>
                        <div class="from-group col-sm">
                              {{ form.bairro|as_crispy_field }}
                          </div>
                        <div class="from-group col-sm">
                              {{ form.num|as_crispy_field }}
                        </div>
                    </div>
                  </div>
                </div>


                 <div class="card mb-3 ">
                      <h6 class="card-header">
                        Associação
                      </h6>
                  <div class="card-body">
                    <div class="row">
                            <div class="form-group col-sm">
                               {{ form.dataAssociacao|as_crispy_field }}
                            </div>
                           <div class="form-group col-sm">
                                {{ form.associacao|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm">
                                {{ form.empresa|as_crispy_field }}
                            </div>
                    </div>
                  </div>
                 </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                   {% buttons %}
                        <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                </svg>
                            Atualizar

                        </button>
                        <a type="submit" class="btn btn-primary" href = "{% url 'home_assoc' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                            Cancelar
                        </a>
                    {% endbuttons %}
            </div>
            </form>
                 <script>

                const cepInput = document.querySelector('#cep');
                const addressInput = document.querySelector('#address');
                const regionInput = document.querySelector('#inputGroupSelectUF');
                const cityInput = document.querySelector('#textCidade');
                const neighborhoodInput = document.querySelector('#textBairro');
                const numeroInput = document.querySelector('#textNumero');


                cepInput.addEventListener('keypress', (e) => {
                  const onlyNumbers = /[0-9]|\./;
                  const key = String.fromCharCode(e.keyCode);

                  if (!onlyNumbers.test(key)) {
                    e.preventDefault();
                    return;
                  }
                });

                cepInput.addEventListener('keyup', (e) => {
                  const inputValue = e.target.value;

                  if (inputValue.length === 8) {
                    getAddress(inputValue);
                  }
                });
                function getAddress(cep) {
                  const numeroInput = document.querySelector('#numeroInput');

                  fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                      console.log(data);
                      if (data.erro) {
                        alert('CEP não encontrado');
                        return;
                      }

                      addressInput.value = data.logradouro;
                      regionInput.value = data.uf;
                      cityInput.value = data.localidade;
                      neighborhoodInput.value = data.bairro;
                      numeroInput.focus();

                      formInputs.forEach((input) => {
                        if (input !== numeroInput) {
                          input.setAttribute('disabled', 'disabled');
                        }
                      });
                      numeroInput.removeAttribute('disabled');
                    })
                    .catch(error => console.log(error));
                }
          </script>

          </div>

        </div>

{% endblock bootstrap5_content %}