<!DOCTYPE html>
{% load bootstrap5 %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% bootstrap_css %}
      <meta charset="UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="{% static 'js/scripts.js' %}" defer></script>
      <title>Associados - Black Pearl</title>

</head>
<body>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
 <nav class="navbar navbar-dark fixed-top "
      style="background-color: #508bfc">
      <div class="container-fluid ">
          <a class="navbar-brand" href="#">
              Black Pearl - Associados
          </a>

        <div class="dropdown btn-group ">

            <button class="navbar-toggler dropdown-toggle dropdown-toggle-split" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasDarkNavbarUsuario" aria-controls="offcanvasDarkNavbarUsuario" aria-label="Toggle navigation">Nome de quem está logado
           </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbarUsuario" aria-labelledby="offcanvasDarkNavbarLabelUsuario">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabelUsuario">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Meu Perfil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Configuração</a>
                  </li>
                   <li><hr class="nav-link-divider"></li>
                    <li><a class="nav-link" href="#">Sair</a></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </nav>
        <div class="container py-5 vh-100">
          <div class="row d-flex justify-content-md-center align-items-center h-50 mt-5">

              <div class="d-grid gap-2 d-md-flex  justify-content-md-end">
                        <a class="btn btn-primary" href="{% url 'home' %}" role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            Listagem Geral
              </a>
              </div>
              <h6 class="from">Cadastro via Excel</h6>
              {% bootstrap_messages %}
                <form class="form" action="{% url 'importExcel' %}" method="post" autocomplete="off" enctype="multipart/form-data">
                            {% csrf_token %}
                 <div class="card mb-3 mt-3">
                     <h6 class="card-header text-center">Dados Pessoais, Contatos e Endereço</h6>
                     <div class="card-body">
                            <div class="input-group mb-3">
                              <input type="file" class="form-control" id="inputGroupFile02" name="files" required>
                                {% bootstrap_form formUploadFile%}
                              <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                     </div>
                 </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                              <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                            </svg>
                            Cadastrar</button>


                     {% endbuttons %}
                    </div>
                </form>
          </div>
        </div>
{% bootstrap_javascript %}
</body>
</html>