{% extends "base_blackpearl.html" %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-hearder py-3">
        <h4 class="">Relação de Associados</h4>
        {% include 'search.html' with href='home_assoc' %}
    </div>
    <div class="card-body">
        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Nome completo</th>
                              <th scope="col">CPF</th>
                              <th scope="col">Data de Nascimento</th>
                              <th scope="col">Empresa</th>

                              <th scope="col">Matricula</th>
                              <th scope="col">Opções</th>
                            </tr>
                          </thead>
                              <tbody class="table-group-divider">

                                {% for assoc in object_list %}
                                <tr>
                                <td>{{ assoc.nomecompleto }}</td>
                                <td>{{ assoc.cpf }}</td>
                                <td>{{ assoc.dataNascimento }}</td>
                                <td>{{ assoc.empresa }}</td>

                                <td>{{ assoc.matricula }}</td>
                                <td>

                                    {% include 'buttons_crud_view.html' with href_view='visualizar_associado' obj=assoc.pk %}
                                    {% include 'buttons_crud_update.html' with href_update='editar_associado' obj=assoc.pk %}
                                    {% include 'buttons_crud_delete.html' with href_delete='excluir_associado' obj=assoc.pk obj_titulo=assoc.nomecompleto%}
                                </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                        </table>
        {% include 'pagination.html' with href='home_assoc' %}
    </div>
</div>
{% endblock content %}

