{% extends "base_sidebar.html" %}
{% block bootstrap5_content %}
{% load bootstrap5 %}
{% load static %}
    <!-- Usado para construção do Datatables -->
      <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.css" rel="stylesheet"/>
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center h-50 mt-5">
                <h4 class="">Relação de Associados</h4>
                {% include 'search.html' with href='home_assoc' %}
                <table class="table table-hover">

                          <thead>
                            <tr>
                              <th scope="col">Nome completo</th>
                              <th scope="col">CPF</th>
                              <th scope="col">Data de Nascimento</th>
                              <th scope="col">Empresa</th>

                              <th scope="col">Matricula</th>
                              <th scope="col">Opções</th>
                            </tr>
                          </thead>
                              <tbody class="table-group-divider">

                                {% for assoc in object_list %}
                                <tr>
                                <td>{{ assoc.nomecompleto }}</td>
                                <td>{{ assoc.cpf }}</td>
                                <td>{{ assoc.dataNascimento }}</td>
                                <td>{{ assoc.empresa }}</td>

                                <td>{{ assoc.matricula }}</td>
                                <td>
                                    {% include 'buttons_grup.html' with href_view='visualizar_associado' obj=assoc.pk href_update='editar_associado' href_delete='excluir_associado' %}
                                </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                        </table>
                 {% include 'pagination.html' with href='home_assoc' %}
            </div>
        </div>
        {% bootstrap_javascript %}
{% endblock bootstrap5_content %}
