{% extends "base_sidebar.html" %}
{% block bootstrap5_content %}
{% load bootstrap5 %}
{% load static %}
    <!-- Usado para construção do Datatables -->
      <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.css" rel="stylesheet"/>
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center h-50 mt-5">
                <h4 class="">Relação de Associados</h4>
                {% include 'search.html' with href='home_assoc' %}
                <table class="table table-hover">

                          <thead>
                            <tr>
                              <th scope="col">Nome completo</th>
                              <th scope="col">CPF</th>
                              <th scope="col">Data de Nascimento</th>
                              <th scope="col">Empresa</th>

                              <th scope="col">Matricula</th>
                              <th scope="col">Opções</th>
                            </tr>
                          </thead>
                              <tbody class="table-group-divider">

                                {% for assoc in object_list %}
                                <tr>
                                <td>{{ assoc.nomecompleto }}</td>
                                <td>{{ assoc.cpf }}</td>
                                <td>{{ assoc.dataNascimento }}</td>
                                <td>{{ assoc.empresa }}</td>

                                <td>{{ assoc.matricula }}</td>
                                <td>

                                    <a class="btn btn-success" role="button" href = "{% url 'visualizar_associado' assoc.pk %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                        <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                                        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                                        </svg>

                                    </a>



                                    <a class="btn btn-warning" role="button" href ="{% url 'editar_associado' assoc.pk%}" >
                                        <i class="bi bi-pencil-square"></i>

                                    </a>

                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{assoc.pk}}">
                                       <i class="bi bi-trash3"></i>

                                    </button>
                                    <!-- Modal - Delete Associado -->
                                    <div class="modal" id="delete{{assoc.pk}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">
                                                Dados de {{ assoc.nomecompleto }}
                                              </h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <p>Deseja realmente excluir (a)o associado(a) ?</p>
                                            </div>
                                            <div class="modal-footer">
                                              <form action="{% url 'excluir_associado' assoc.pk %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-primary" value="Delete">
                                              </form>
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                        </table>
                 {% include 'pagination.html' with href='home_assoc' %}
            </div>
        </div>
        {% bootstrap_javascript %}
{% endblock bootstrap5_content %}
