
{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
          <div class="row d-flex justify-content-md-center align-items-center h-50">
            {% bootstrap_messages %}
              <form class="form-horizontal" action="" method="post" autocomplete="off" >
                  {% csrf_token %}

                 <div class="card shadow mb-3">
                     <h6 class="card-header">Plano de Saúde - Cadastro do Dependente</h6>
                     <div class="card-body">
                         <div class="row">
                             <div class="from-group col-sm">
                                {{ form.contrato|as_crispy_field }}
                             </div>
                              <div class="from-group col-sm">
                                {{ form.dependente|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                {{ form.faixa|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                {{ form.ativo|as_crispy_field }}
                             </div>
                         </div>
                         <div class="row">
                             <div class="from-group col-sm">
                                    {{ form.dataInicio|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                    {{ form.atendimentoDomiciliar|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                    {{ form.valor|as_crispy_field }}
                             </div>
                         </div>
                         {% include 'button_save.html' %}
                     </div>
                 </div>
              </form>
          </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('.idade-atend-valor').change(function(event) {
    const planoSaude_id = $('#id_planoSaude').val();
    const id_dependente = $('#id_dependente').val();
    const atendDomiciliar = $('#id_atendimentoDomiciliar').val();
    console.log(atendDomiciliar);

      if (planoSaude_id !== '' && id_dependente !== '' && atendDomiciliar !== '') {
          $.ajax({
          url: '/contratoplanosaude/consultafaixa_dependente/',
          data: {
            'planoSaude_id': planoSaude_id,
            'atendimentoDomiciliar': atendDomiciliar,
            'id_dependente': id_dependente
          },
          dataType: 'json',
          success: function(response) {
            const faixa_id = response.faixa_id;
            const valor = response.valor;
            idadeMin = response.idadeMin;
            idadeMax = response.idadeMax;
            $('#id_valor').empty();
            $('#id_valor').val(valor);
            $('#id_faixa').empty();
            $('#id_faixa').append('<option value="' + faixa_id + '">' + idadeMin + ' a ' +  idadeMax + ' (anos)</option>');
          }
        });
      }
  });
  });
</script>
{% endblock content %}
