
{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}

{% block content_script %}
    <script src="/static/convenios/contratoPlanoSaudeDependenteAdd.js"></script>
{% endblock content_script %}

{% block content %}
<div class="container">
          <div class="row d-flex justify-content-md-center align-items-center h-50">
            {% bootstrap_messages %}
              <form class="form-horizontal" action="" method="post" autocomplete="off" >
                  {% csrf_token %}
                 <div class="card shadow mb-3">
                     <h6 class="card-header">Plano de Saúde - Cadastro do Dependente</h6>
                     <div class="card-body">
                         <div class="row">
                             <div class="from-group col-sm">
                                {{ form.contrato|as_crispy_field }}
                             </div>
                              <div class="from-group col-sm">
                                {{ form.dependente|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                {{ form.faixa|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                {{ form.ativo|as_crispy_field }}
                             </div>
                         </div>
                         <div class="row">
                             <div class="from-group col-sm">
                                    {{ form.dataInicio|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                    {{ form.atendimentoDomiciliar|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                    {{ form.valor|as_crispy_field }}
                             </div>
                             <div class="from-group col-sm">
                                    {{ form.valorTotal|as_crispy_field }}
                             </div>
                         </div>
                         {% include 'button_save.html' %}
                     </div>
                 </div>
              </form>
          </div>
</div>
{% endblock content %}
