{% extends "base_sidebar.html" %}
{% block content %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container-fluid">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row align-items-center">
            <div class="col-md-4 ">
                <h4 class="m-0 font-weight-bold text-primary">Contratos dos Planos de Saúde</h4>
            </div>
        </div>
    </div>
    {% if list_objs %}
    {% include 'search.html' with href='listar_contratos_plano_saude' %}

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">Titular - Contratante</th>
                <th scope="col">Plano Contratado</th>
                <th scope="col">Forma de Pagamento</th>
                <th scope="col">Valor (R$)</th>
                <th scope="col">Data de Início</th>

                <th scope="col">Status</th>
                <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for contratos in list_objs %}
            <tr>
              <td>{{ contratos.contratante }}</td>
              <td>{{ contratos.planoSaude }}</td>
              <td>{{ contratos.formaPagamento }} </td>
              <td>{{ contratos.valor }}</td>
              <td>{{ contratos.dataInicio }}</td>

              <td>{{ contratos.get_ativo_display }}</td>
              <td>
                {% include 'convenios/planosaude/button_model_contrato_plano_saude_detail.html' with  contrato=contratos%}
                {% include 'buttons_crud_update.html' with href_update='editar_contrato_plano_saude' obj=contratos.pk %}
                {% include 'buttons_crud_delete.html' with href_delete='excluir_contrato_plano_saude' obj=contratos.pk obj_titulo=contratos.contratante%}
              </td>
              {% endfor %}
          </tbody>
        </table>
        {% include 'pagination.html' with href='listar_contratos_plano_saude'%}
      </div>
    </div>
    {% else %}
        <p> Sem contratos cadastrados</p>
    {% endif%}
</div>
</div>

{% endblock content %}