<!DOCTYPE html>
{% load bootstrap5 %}
{% load crispy_forms_tags %}
  <html lang="en">
  <head>
      {% load static %}
      {% bootstrap_css %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Black Pearl</title>

  </head>
  <body>
<form class="user" action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <section class="vh-100" style="background-color: #508bfc">
                <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-center">
                        <img src="{% static 'usuarios/logo.svg' %}" alt="My logo"  height="100px" width="100px" class="rounded-circle float-center">
                        <h3 class="mb-5 mt-3">Black Pearl - Login</h3>
                          {% if error %}
                            <p>Seu nome de usuário e senha não correspondem.</p>
                            <p>Por favor, tente novamente.</p>
                          {% endif %}
                          {% if next %}
                                {% if user.is_authenticated %}
                                <p>Sua conta não tem acesso a esta página.</p>
                                <p> Para prosseguir, faça login com uma conta que tenha acesso.</p>
                                {% else %}
                                <p>Por favor, faça login para ver esta página.</p>
                                {% endif %}
                            {% endif %}

                              <input type="hidden" name="next" value="{{ next_page }}">
                              {{ form|crispy }}
                              <button class="btn btn-primary btn-lg btn-block" type="submit" value="login">Entrar</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </form>
  </body>
  </html>