<!DOCTYPE html>
{% load bootstrap5 %}
  <html lang="en">
  <head>
      {% load static %}
      {% bootstrap_css %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Black Pearl</title>

  </head>
  <body>
<form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <section class="vh-100" style="background-color: #508bfc">
                <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-center">

                          <img src="{% static 'usuarios/logo.svg' %}" alt="My logo"  height="100px" width="100px" class="rounded-circle float-center">

                        <h3 class="mb-5 mt-3">Black Pearl - Login</h3>
                          {% if error %}
                            <p>Your username and password didn't match. Please try again.</p>
                          {% endif %}
                          {% if next %}
                                {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</p>
                                {% else %}
                                <p>Please login to see this page.</p>
                                {% endif %}
                            {% endif %}

                         <div class="form-outline mb-4">
                          <input type="text" id="typeText-2" class="form-control form-control-lg" name="userName"/>
                          <label class="form-label" for="typeText-2">Usuário</label>
                        </div>
                        <div class="form-outline mb-4">
                          <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" />
                          <label class="form-label" for="typePasswordX-2">Password</label>
                        </div>

                          <input type="hidden" name="next" value="{{ next_page }}">
                          <button class="btn btn-primary btn-lg btn-block" type="submit" value="login">Entrar</button>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </form>
  </body>
  </html>