{% extends "base_sidebar.html" %}
{% block bootstrap5_content %}
{% load static %}
<div class="container mt-5">
          <div class="row">
            <div class="col-md-6">
              <h1 class="mb-3 mt-3">Bem-vindo ao Black Pearl  Sistema de gestão do SINDIPORTO</h1>
              <p>O SINDIPORTO é o sindicato que representa os trabalhadores portuários nos estados do Pará e Amapá.</p>
              <p>Nosso objetivo é defender os direitos e interesses dos trabalhadores portuários e promover a melhoria das condições de trabalho e de vida desses profissionais.</p>
              <button class="btn btn-primary mt-3">Saiba mais</button>
            </div>
            <div class="col-md-6">
              <img src="{% static 'usuarios/logo.svg' %}" alt="My logo"  height="320px" width="280px" border-radius="70%" class="rounded-circle float-left">
            </div>
          </div>
 </div>
{% endblock bootstrap5_content %}