<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
      <i class="bi bi-person-vcard"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detalhes de {{contrato.contratante.get_nomecompleto_display}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Dados do Contrato</h5>
        <ul class="list-unstyled">
          <li>Contratante: <strong>{{ contrato.contratante }}</strong></li>
          <li>Contratado: <strong>{{ contrato.planoOdontologico }}</strong></li>
          <li>Valor: <strong>{{ contrato.valor }}</strong></li>
          <li>Data de Contratação: <strong>{{ contrato.dataInicio }}</strong></li>
          <li>Ativo: <strong>{{ contrato.get_ativo_display }}</strong></li>
        </ul>
        <h5>Dependentes</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Dependente</th>
              <th scope="col">Grau de Parentesco</th>
              <th scope="col">Valor</th>
              <th scope="col">Data de Início</th>
              <th scope="col">Ativo</th>
            </tr>
          </thead>
          <tbody>
            {% for dependente in contrato.dependentes.all %}
            <tr>
              <td>{{ dependente.dependente }}</td>
              <td>{{ dependente.dependente.get_grauparentesco_display }}</td>
              <td>{{ dependente.valor }}</td>
              <td>{{ dependente.dataInicio }}</td>
              <td>{{ dependente.get__ativo_display }}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>
</div>