
{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% block content %}
<div class="container-fluid">
          <div class="row d-flex justify-content-md-center align-items-center h-50">
            {% bootstrap_messages %}
              <form class="form-horizontal" action="" method="post" autocomplete="off" >
                  {% csrf_token %}
                 <div class="card shadow mb-3">
                     <h6 class="card-header">Cadastro de Cartão</h6>
                     <div class="card-body">
                        <div class="row">
                            <div class="form-group  col-sm">
                              {{ form.titular|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="from-group  col-sm">
                              {{ form.valorLimite|as_crispy_field }}
                            </div>
                            <div class="from-group col-sm">
                              {{ form.status|as_crispy_field }}
                            </div>
                        </div>
                        {% include 'button_save.html' %}
                   </div>
                 </div>
              </form>
          </div>
        </div>
{% endblock content %}