
{% extends "base_sidebar.html" %}

{% block bootstrap5_content %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container py-5">
          <div class="row d-flex justify-content-md-center align-items-center h-50">
            {% bootstrap_messages %}

              <form class="form-horizontal" action="" method="post" autocomplete="off" >
                  {% csrf_token %}
                 <div class="card mb-3">
                     <h6 class="card-header">Contrato do Plano do Odontologico</h6>
                     <div class="card-body">
                        <div class="row">
                            <div class="form-group  col-sm">
                                {{form|crispy}}
                            </div>
                        </div>
                        {% include 'button_save.html' %}
                     </div>
                 </div>
              </form>
          </div>
</div>


{% bootstrap_javascript %}
{% endblock bootstrap5_content %}