
{% extends "base_sidebar.html" %}

{% block bootstrap5_content %}
{% load bootstrap5 %}
{% load static %}

<h2>Adicionar Dependente ao Contrato de {{ contrato.contratante.nomecompleto }}</h2>
<form method="post">
  {% csrf_token %}
  <ul>
    {% for dependente in dependentes %}
      <li>
        <input type="radio" name="dependente_id" value="{{ dependente.id }}"> {{ dependente.nomecompleto }}
      </li>
    {% endfor %}
  </ul>
  <button type="submit">Adicionar</button>
</form>

{% endblock bootstrap5_content %}