
{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_content %}
<div class="container py-5">
          <div class="row d-flex justify-content-md-center align-items-center h-50">
            {% bootstrap_messages %}

              <form class="form-horizontal" action="" method="post" autocomplete="off" >
                  {% csrf_token %}
                 <div class="card mb-3">
                     <h6 class="card-header">Cadastro de Fatura do Cartão Volus</h6>
                     <div class="card-body">
                        <div class="row">
                            <div class="form-group  col-sm">

                              {{ form.cartao|as_crispy_field }}

                            </div>
                            <div class="input-group col-sm">
                              {{ form.competencia|as_crispy_field }}
                            </div>
                        </div>
                         <div class="row">
                            <div class="from-group  col-sm">

                              {{ form.valor|as_crispy_field }}
                            </div>

                            <div class="from-group  col-sm">
                              {{ form.valorComTaxa|as_crispy_field }}
                            </div>
                         </div>

                         {% include 'button_save.html' %}
                     </div>
                 </div>
              </form>
              <script>
            $(document).ready(function() {
                // Define as variáveis necessárias
                var valorField = $('#id_valor');
                var valorComTaxaField = $('#id_valorComTaxa');
                var valor = parseFloat(valorField.val());

                // Atualiza o valor do campo "valorComTaxa" ao mudar o valor do campo "valor"
                valorField.on('input', function() {
                    valor = parseFloat(valorField.val());
                    if (!isNaN(valor)) {
                        valorComTaxaField.val((valor * 1.05).toFixed(2));
                    } else {
                        valorComTaxaField.val('');
                    }
                });
            });
            </script>
          </div>
</div>

{% bootstrap_javascript %}
{% endblock bootstrap5_content %}