{% extends "base_sidebar.html" %}
{% block content %}

<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Relação de Cartões</h4>

    </div>
      {% if list_objs %}
        {% include 'search.html' with href='home_conv' %}
        <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                          <tr>
                            <th scope="col">Titular</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Limite (R$)</th>
                            <th scope="col">Status</th>
                            <th scope="col">Opções</th>
                          </tr>
              </thead>
              <tbody class="table-group-divider">
                              {% for cartao in list_objs %}
                              <tr>
                              <td>{{ cartao.titular }}</td>
                                <td>{{ cartao.titular.empresa }}</td>
                              <td>{{ cartao.valorLimite }}</td>
                              <td>{{ cartao.status }}</td>
                              <td>
                                {% include 'buttons_crud_view.html' with href_view='cartao_visualizar' obj=cartao.pk %}
                                {% include 'buttons_crud_update.html' with href_update='cartao_editar' obj=cartao.pk %}
                                {% include 'buttons_crud_delete.html' with href_delete='cartao_excluir' obj=cartao.pk obj_titulo=cartao.titular%}
                              </td>
                              </tr>
                              {% endfor %}

                          </tbody>
                       </table>
            {% include 'pagination.html' with href='listagemcartoes'%}
            {% else %}
            <div class="card-body" role="alert">
                <div class="d-flex gap-2 d-md-flex">
                    <h4 class="m-0 font-weight-bold text-primary md-3">Não há cartões cadastrados!</h4>
                    <a href="{% url 'cartao_cadastrar' %}" class="btn btn-primary btn-sm"><span class="text">Deseja cadastrar ?</span></a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock content %}