<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
      <i class="bi bi-person-vcard"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detalhes de {{contrato.contratante.get_nomecompleto_display}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Dados do Contrato do Dependente {{contrato.dependente.get_nomecompleto_display}}</h5>

        <ul class="list-unstyled">
            <li>Contrato: {{contrato.contrato}}</li>
            <li>Dependente: {{contrato.dependente.get_nomecompleto_display}}</li>
            <li>Grau de Parêntesco: {{contrato.dependente.get_grauparentesco_display}}</li>
            <li>Ativo: {{contrato.get__ativo_display}}</li>
            <li>Valor: {{contrato.valor}}</li>
            <li>Data de Início: {{contrato.dataInicio}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>
</div>