
{% extends "base_sidebar.html" %}
{% load i18n %}
{% block content %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}
    <!-- Usado para construção do Datatables -->
      <div class="container">
         <div class="row d-flex justify-content-center align-items-center h-50 mt-5">
         {% bootstrap_messages %}
         <form class="form-horizontal" action="" method="post" >
                  {% csrf_token %}
                 <div class="card mb-3">
                     <h6 class="card-header">Contratação do Plano Odontologico</h6>
                     <div class="card-body">
                        <div class="row">
                            <div class="form-group row col-sm">
                                {{form.contratante|as_crispy_field}}
                            </div>

                             <div class="form-group row col-sm">
                                {{form.dataInicio|as_crispy_field}}
                            </div>
                            <div class="form-group row col-sm">
                                {{form.ativo|as_crispy_field}}
                            </div>
                        </div>
                         <div class="row">

                             <div class="form-group row col-sm">
                                {{form.planoOdontologico|as_crispy_field}}
                            </div>

                             <div class="form-group row col-sm">
                                {{form.quantidadeDependententes|as_crispy_field}}
                            </div>

                             <div class="form-group row col-sm">
                                {{form.formaPagamento|as_crispy_field}}
                            </div>
                            <div class="form-group row col-sm">
                                {{form.valor|as_crispy_field}}
                            </div>

                        </div>
                                {% include 'button_save.html' %}
                     </div>
                 </div>

              </form>
         </div>
      </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('.plano-quant-valor').change(function (event) {

    var contratanteId = $('id_contratante').val();

    var planoOdontologicoId = $('#id_planoOdontologico').val();

    var quantidadeDependententes = $('#id_quantidadeDependententes').val();

    console.log(contratanteId, planoOdontologicoId, quantidadeDependententes);

    if (contratanteId !=='' && planoOdontologicoId !=='' && quantidadeDependententes !=='') {
       $.ajax({
              url: '/convenios/contratoodontologica/verificarassociacao/',  // URL da sua view VerificarAssociacaoView
              type: 'GET',
              data: { 'contratante_id': contratanteId,
                      'plano_odontologico_id': planoOdontologicoId,
                        'quantidade_dependentes': quantidadeDependententes
               },
              dataType: 'json',
              success: function(response) {
                var novoValor = response.valor_total;
                console.log(novoValor);
                $('#id_valor').val(novoValor);
              },
              error: function(xhr, status, error) {
                console.log(error);
                console.log(status);
              }
            });
    }
  });
});
</script>

{% bootstrap_javascript %}
{% endblock content %}