{% extends "base_sidebar.html" %}
{% block content %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container-fluid">
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row align-items-center">
            <div class="col-md-4 ">
                <h4 class="m-0 font-weight-bold text-primary">Contratos do Plano Odontologico</h4>
            </div>
        </div>
    </div>
    {% if list_objs %}
    {% include 'search.html' with href='listar_dependente_plano_odontologico' %}
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" >
                        <thead>
                          <tr>
                            <th scope="col">Dependente</th>
                            <th scope="col">Valor (R$)</th>
                            <th scope="col">Titular</th>
                            <th scope="col">Plano Contratado</th>
                            <th scope="col">Data de Início</th>
                            <th scope="col">Data de Término</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">Opções</th>
                          </tr>
                        </thead>
                            <tbody class="table-group-divider">

                              {% for contratos in list_objs %}
                              <tr>
                                <td>{{ contratos.dependente }}</td>
                                <td>{{ contratos.valorComTaxa }}</td>
                                <td>{{ contratos.contratoTitular.contratante }}</td>
                                <td>{{ contratos.contratoTitular.planoOdontologico}}</td>
                                <td>{{ contratos.dataInicio }}</td>
                                <td>{{ contratos.get__dataFim_display }}</td>
                                <td>{{ contratos.get__ativo_display }}</td>
                                <td>
                                  {% include 'convenios/planoOdontologico/button_view_model_dependente_contratos_plano_odont.html' with  contrato=contratos%}
                                  {% include 'buttons_crud_update.html' with href_update='editar_dependente_plano_odontologico' obj=contratos.pk %}
                                  {% include 'buttons_crud_delete.html' with href_delete='deletar_dependente_plano_odontologico' obj=contratos.pk obj_titulo=contratos.dependente%}
                                </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                       </table>
            {% include 'pagination.html' with href='listar_dependentes_contrato_plano_odonta'%}
          </div>
        </div>
    {% else %}
      <div class="card-body">
        <div class="d-flex gap-2 d-md-flex">
          <h4 class="m-0 font-weight-bold text-primary">Não há dependentes cadastratos</h4>
        </div>
      </div>
  {% endif%}
  </div>
</div>

{% endblock content %}